# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\University of Asia Pasific\my Jango Practice\Online Gaming Shop Official Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
